@import "tailwindcss";

@theme {
  --color-brand: #1F7872;
  --color-brand-dark: #195f5a;
  --color-brand-light: #2a9d8f;
}

:root {
  --color-brand: #1F7872;
  --color-brand-dark: #195f5a;
  --color-brand-light: #2a9d8f;
}
